# Add any directories, files, or patterns you don't want to be tracked by version control
lib/
bin/
build/
.vscode/
openauto.ini
CMakeLists.txt.user
/cmake-build-*/
.idea/
RELEASE_NOTES.md
Dockerfile
openauto_2026.01.30+git.c07bc2a.dirty_deb12u1_armhf.deb
openauto.sh

openauto_2026.01.30+git.4aef2e8.dirty_deb12u1_armhf.deb
openauto_2026.01.30+git.fd10d48.dirty_deb12u1_armhf.deb
openauto_2026.01.31+git.268f7db.dirty_deb12u1_armhf.deb
openauto_2026.01.31+git.eed98d6.dirty_deb12u1_armhf.deb
openauto_2026.02.01+git.56b746d.dirty_deb12u1_armhf.deb
openauto_2026.02.01+git.27c0a22.dirty_deb12u1_armhf.deb
